body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

.App {
  min-height: 100vh;
  /* background-color: beige; */
}

/* Initial, dropdown nu va fi afisat */
.dropdown-list {
  display: none;
}

.is-displayed {
  display: block;
}
